@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: local("Quicksand-Regular"),
    url("../public/font/Quicksand-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Rugen";
  src: local("Rugen"), url("../public/font/Rugen.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: theme("colors.primaryLight");
  font-family: theme("fontFamily.sans");
  z-index: 1;
  user-select: none;
}

h1,
h2 {
  font-family: theme("fontFamily.header");
}

.gradientShadow {
  box-shadow: 0px 0px 1px 1px rgba(63, 208, 191, 0.5),
    0px 0px 60px 3px rgba(126, 117, 36, 0.5),
    0px 0px 80px 3px rgba(51, 9, 39, 0.5);
}

.lgHidden {
  @media (max-width: 1024px) {
    display: none;
  }
}

@media (max-width: 1536px) {
  /* Profil */
  .lastNameResponsive {
    font-size: 4.5rem;
  }
  .firstNameResponsive {
    font-size: 4.5rem;
  }
  .pProfilResponsive {
    font-size: 20px;
    width: 23.25rem;
  }

  /* Service */
  #skillCard {
    margin: 0 1.5rem;
  }

  /* Projet */
  #projetCard {
    width: 71.063rem;
  }

  /* Reviews */
  #reviewsCard {
    width: 71.063rem;
  }
}

@media (max-width: 1200px) {
  /* Profil */
  .lastNameResponsive {
    font-size: 4rem;
  }
  .firstNameResponsive {
    font-size: 3.75rem;
  }
  .pProfilResponsive {
    width: 23.25rem;
  }

  /* Global */
  .h2ResponsiveGlobal {
    width: 55rem;
    font-size: 2.2rem;
  }
  .h3ResponsiveGlobal {
    font-size: 1.6rem;
  }

  .pResponsiveGlobal {
    width: 50rem;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  /* Service */
  #skillCard {
    gap: 1%;
  }
  #skillElement {
    width: 24rem;
  }

  /* Projet */
  #projetCard {
    height: 28rem;
    width: 60rem;
    padding: 1.5rem;
  }
  .pProjetResponsive {
    font-size: 1rem;
    line-height: 1.6;
  }

  .dateProjetResponsive {
    font-size: 0.8rem;
  }

  /* Reviews */
  #reviewsCard {
    width: 60rem;
  }

  .reviewsClientRexponsive {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  /* Profil */
  .firstNameResponsive {
    padding-bottom: 0px;
  }
  .pProfilResponsive {
    text-align: center;
    width: 43.25rem;
  }

  /* Global */
  .h2ResponsiveGlobal {
    width: 41rem;
    font-size: 2rem;
  }
  .h3ResponsiveGlobal {
    font-size: 1.5rem;
  }

  .pResponsiveGlobal {
    width: 43rem;
    font-size: 1rem;
  }

  /* Service */
  #skillCard {
    flex-direction: column;
    align-items: center;
  }
  #skillElement {
    width: 41rem;
    margin: 1rem;
  }

  /* Projet */
  #projetCard {
    height: 41rem;
    width: 40rem;
    flex-direction: column;
  }
  .pProjetResponsive {
    font-size: 1rem;
    line-height: 1.6;
    padding: 1.5rem 0;
  }
  .dateProjetResponsive {
    font-size: 0.8rem;
  }

  /* Reviews */
  #reviewsCard {
    width: 40rem;
  }
  .reviewsClientRexponsive {
    font-size: 1.3rem;
  }

  /* Footer */
  #contrainerSocialNetwork {
    justify-content: space-evenly;
    padding: 0 2rem;
  }
}

@media (max-width: 720px) {
  /* Profil */
  .lastNameResponsive {
    font-size: 3rem;
  }
  .firstNameResponsive {
    font-size: 3.2rem;
  }
  .pProfilResponsive {
    width: 30.25rem;
  }

  /* Global */
  .h2ResponsiveGlobal {
    width: 30rem;
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .h3ResponsiveGlobal {
    font-size: 1.5rem;
  }
  .pResponsiveGlobal {
    width: 30rem;
    line-height: 2;
  }

  /* Service */
  #skillElement {
    width: 29rem;
  }

  /* Projet */
  #projetCard {
    width: 30rem;
  }

  /* Reviews */
  #reviewsCard {
    width: 30rem;
  }
  .reviewsClientRexponsive {
    width: 28rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 525px) {
  /* Profil */
  .containerProfilResponsive {
    padding-top: 30px;
  }
  .lastNameResponsive {
    font-size: 2.6rem;
  }
  .firstNameResponsive {
    font-size: 2.8rem;
  }
  .pProfilResponsive {
    font-size: 1.2rem;
    width: 21.6rem;
  }

  /* Global */
  .h2ResponsiveGlobal {
    width: 20.875rem;
    font-size: 1.7rem;
  }
  .h3ResponsiveGlobal {
    font-size: 1.3rem;
  }
  .pResponsiveGlobal {
    width: 20.875rem;
    line-height: 1.5;
  }
  .pProfilResponsive {
    width: 21rem;
  }

  /* Projet */
  #projetCard {
    height: 35rem;
    width: 21rem;
  }

  /* Reviews */
  #reviewsCard {
    height: 22rem;
    width: 21rem;
  }
  .reviewsClientRexponsive {
    width: 18rem;
    padding: 1.8rem 0;
    font-size: 1rem;
    line-height: 1.6;
  }

  /* Service */
  #skillElement {
    width: 21.5rem;
    padding: 0 2rem;
  }

  /* Footer */
  #contrainerSocialNetwork {
    flex-direction: column;
  }
}
