@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: local("Quicksand-Regular"),
    url("../public/font/Quicksand-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Rugen";
  src: local("Rugen"), url("../public/font/Rugen.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: theme("colors.primaryLight");
  font-family: theme("fontFamily.sans");
}

h1,
h2 {
  font-family: theme("fontFamily.header");
}
