@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: local("Quicksand-Regular"),
    url("../public/font/Quicksand-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Rugen";
  src: local("Rugen"), url("../public/font/Rugen.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: theme("colors.primaryLight");
  font-family: theme("fontFamily.sans");
  z-index: 1;
  user-select: none;
}

h1,
h2 {
  font-family: theme("fontFamily.header");
}

.gradientShadow {
  box-shadow: 0px 0px 1px 1px rgba(63, 208, 191, 0.5),
    0px 0px 60px 3px rgba(126, 117, 36, 0.5),
    0px 0px 80px 3px rgba(51, 9, 39, 0.5);
}
